@media (max-width: 94em) {
  .right-side img {
    width: 70%;
  }
}

@media (max-width: 74em) {
  nav {
    padding: 2.4rem 7.5rem 0 7.5rem;
  }

  .hero-section,
  .main-section {
    padding: 0 7.5rem;
  }

  .footer-box {
    padding: 3.2rem 7.5rem;
  }

  .right-side img {
    top: -10rem;
  }

  html {
    font-size: 55%;
  }
}

@media (max-width: 64em) {
  .right-side img {
    width: 65%;
    top: -5rem;
    right: -25rem;
  }

  html {
    font-size: 50%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 45%;
  }

  .right-side img {
    width: 65%;
    top: -5rem;
    right: -23rem;
  }

  nav {
    padding: 2.4rem 3.9rem 0 3.9rem;
  }

  .hero-section,
  .main-section {
    padding: 0 3.9rem;
  }

  .footer-box {
    padding: 3.2rem 3.9rem;
  }

  .main-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 25em) {
  .main-section {
    grid-template-columns: repeat(1, 1fr);
    margin: 6.6rem 0;
  }

  .hero-section {
    display: flex;
    flex-direction: column;

    margin: 3.8rem 0;
  }

  .right-side img {
    position: static;
    width: 100%;
    margin: 4.6rem 0 0 0;
  }
}
