* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.8rem;
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,

    #f0f1ff 100%
  );
}

.body-content {
  padding: 2.4rem 16.5rem 0 16.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 16.5rem 0 16.5rem;
}

.icon {
  width: 11.2rem;
  height: 100%;
}

.btn {
  color: #fff;

  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.btn-nav {
  background-color: #13183f;
  padding: 0.8rem 3.2rem;
  border-radius: 2.8rem;
  text-decoration: none;
}

.btn-nav:hover,
.btn-nav:active {
  background: #666ca3;
  cursor: pointer;
}

.hero-section {
  /* display: flex;
  justify-content: left; */
  padding: 0 16.5rem;
  margin-top: 18.5rem;
}

.left-side {
  max-width: 45.7rem;
}

h1 {
  font-size: 5.6rem;
  font-weight: 800;
  color: #13183f;
  line-height: 7.1rem;
}

.left-side p {
  font-weight: 500;
  color: #83869a;
  line-height: 2.8rem;
  margin-top: 2.9rem;
}

.btn-hero {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  padding: 1.9rem 3.2rem;
  border-radius: 3.15rem;
  margin-top: 4rem;
}

.btn-hero:hover,
.btn-hero:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  cursor: pointer;
}

.right-side img {
  position: absolute;
  right: -30rem;
  top: -15rem;
  z-index: -1;
}

.main-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin-top: 22.7rem;
  gap: 5.6rem 3rem;
  padding: 0 16.5rem;
}

.box-container {
  border-radius: 1.5rem;
  padding: 6.4rem 3.2rem 4rem 3.2rem;
  background-color: #fff;

  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
}

.box-container h3 {
  font-size: 2.4rem;
  font-weight: 800;
  color: #13183f;
}

.box-container p {
  color: #83869a;
  font-weight: 500;
  margin-top: 2.4rem;
  line-height: 2.8rem;
}

.link {
  display: inline-block;
  text-decoration: none;
  margin-top: 2.4rem;
  font-weight: 700;
  color: #f74780;
}

.box-1 {
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
}

#box-1 {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 4rem;
  color: #fff;
  margin-top: 0;
}

.box-container img {
  position: absolute;
  top: 0;
  left: 3.2rem;
  transform: translate(0, -50%);
}

footer {
  background: #13183f;
  padding: 0 !important;
}

.footer-box {
  padding: 3.2rem 16.5rem 3.2rem 16.5rem;
  margin-top: 14rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-footer {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border-radius: 2.8rem;
  padding: 1.4rem 3.2rem;
  text-decoration: none;
  font-weight: 700;
}

.btn-footer:hover,
.btn-footer:active {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  cursor: pointer;
}
